<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="karyawanForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!karyawanForm.valid">Save</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nama</label>
            <input type="text" formControlName="name" id="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Foto</label>
            <input type="text" formControlName="imagePath" id="imagePath" class="form-control" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
          <!-- <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control">
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="position">Posisi</label>
            <input type="text" formControlName="position" id="position" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Alamat</label>
            <input type="text" formControlName="address" id="address" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="notelp">No Telepon</label>
            <input type="text" formControlName="notelp" id="notelp" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="salary">Gaji</label>
            <input type="text" formControlName="salary" id="salary" class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>